<?xml version="1.0"?>
<ruleset name="WhatsCom">
    <description>WhatsCom Coding Standards</description>

    <file>./src</file>
    <file>./whatscom.php</file>
    <exclude-pattern>*/vendor/*</exclude-pattern>
    <exclude-pattern>*/node_modules/*</exclude-pattern>
    <exclude-pattern>*/tests/*</exclude-pattern>
    <exclude-pattern>*/assets/build/*</exclude-pattern>

    <arg name="extensions" value="php"/>
    <arg name="colors"/>
    <arg value="ps"/>

    <config name="testVersion" value="8.2-"/>
    <config name="minimum_wp_version" value="6.5"/>

    <rule ref="WordPress">
        <exclude name="WordPress.Files.FileName.InvalidClassFileName"/>
        <exclude name="WordPress.Files.FileName.NotHyphenatedLowercase"/>
        <!-- OO plugins use camelCase for class methods; this rule targets procedural code -->
        <exclude name="WordPress.NamingConventions.ValidFunctionName.MethodNameInvalid"/>
    </rule>
    <rule ref="WordPress-Extra">
        <!-- Stub methods legitimately have unused parameters -->
        <exclude name="Generic.CodeAnalysis.UnusedFunctionParameter"/>
        <!-- TODO comments intentionally omit trailing punctuation -->
        <exclude name="Squiz.Commenting.InlineComment.InvalidEndChar"/>
        <!-- Multi-line inline comment continuations are acceptable -->
        <exclude name="Squiz.Commenting.InlineComment.SpacingBefore"/>
    </rule>

    <!-- manage_woocommerce is registered by WooCommerce (required plugin) -->
    <rule ref="WordPress.WP.Capabilities">
        <properties>
            <property name="custom_capabilities" type="array">
                <element value="manage_woocommerce"/>
            </property>
        </properties>
    </rule>
    <rule ref="WordPress-Docs"/>
    <rule ref="PHPCompatibilityWP"/>

    <rule ref="WordPress.WP.I18n">
        <properties>
            <property name="text_domain" type="array">
                <element value="whatscom"/>
            </property>
        </properties>
    </rule>

    <rule ref="WordPress.NamingConventions.PrefixAllGlobals">
        <properties>
            <property name="prefixes" type="array">
                <element value="whatscom"/>
                <element value="WhatsCom"/>
            </property>
        </properties>
    </rule>
</ruleset>
