includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 8
    paths:
        - src
        - cartpinger.php
    excludePaths:
        - vendor
        - node_modules
        - tests
    bootstrapFiles:
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
        - tests/phpstan-bootstrap.php
    dynamicConstantNames:
        - CARTPINGER_VERSION
        - CARTPINGER_PLUGIN_FILE
        - CARTPINGER_PLUGIN_DIR
        - CARTPINGER_PLUGIN_URL
        - CARTPINGER_PLUGIN_BASENAME
    treatPhpDocTypesAsCertain: false
    ignoreErrors: []
